* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.city-selector {
    margin-bottom: 20px;
}

.city-selector button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.city-selector button:hover {
    background-color: #555;
}

.map-details-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.map-container {
    width: 70%;
    height: 500px;
}

.details {
    width: 25%;
    padding: 20px;
    background-color: #fff;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

#place-image {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

#place-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#place-description {
    font-size: 16px;
    margin-bottom: 15px;
}

#know-more-btn {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

#know-more-btn:hover {
    background-color: #555;
}
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}
